<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Kitten or Puppy?</title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans" rel="stylesheet" type="text/css">
    <link href="img/favicon.ico" rel="icon" type="image/ico">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="intro">
      <h1>Kitten OR Puppy?</h1>
      <h2>&weierp; answering the question that matters most &weierp;</h2>
      <p>
        Cats and dogs are the most popular pets in the world. <br/>
        <strong>But which is better?</strong> You decide!
      </p>
      <p>
        We took your pictures from Imgur, you click and vote.
      </p>
      <p>
        ... and right now it's
        <% if @kitten_percent > 50 %>
          <strong><%= @kitten_percent %>/<%= 100 - @kitten_percent %></strong> for kittens!
        <% elsif @kitten_percent < 50 %>
          <strong><%= 100 - @kitten_percent %>/<%= @kitten_percent %></strong> for puppies!
        <% else %>
          <strong>50/50</strong>
        <% end %>
      </p>
    </div>
    <div class="kitten">
      <a href="/vote/<%= @kitten_id%>">
        <img src=<%= @kitten_url %> alt="Kitten" />
      </a>
    </div>
    <div class="puppy">
      <a href="/vote/<%= @puppy_id%>">
        <img src=<%= @puppy_url %> alt="Puppy" />
      </a>
    </div>
  </body>
</html>
